<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <% @students_all.each do |student| %>
    <br><%=  student.first_name %> <%= student.last_name %>
    <% end %>
  </body>
</html>
